body {
  overflow-x: hidden;
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
}

.fretboard {
  position: relative;
  padding: 0;
  background-color: #222;
  display: flex;
  justify-content: start;
  align-items: center;
  width: 130%;
  max-width: 1000px;
  margin: 100px auto;
  left: -250px;
  top: -200px;
}

.fretboard button.toggle-button {
  background-color: #f1c40f;
  color: #222;
  font-size: 1.1em;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
  margin-bottom: 20px;
}

.fretboard button.toggle-button:hover {
  background-color: #e67e22;
}

.fretboard .guitar-neck {
  width: 2850px;
  height: 1426px;
  display: block;
}

.fret-button {
  position: absolute;
  height: 12px;
  background-color: rgba(255, 255, 255, 0.5);
  border: 1px solid rgba(0, 0, 0, 0.2);
  cursor: pointer;
  transform: translate(-50%, -50%);
}

.fret-button:hover {
  background: rgba(0, 255, 0, 0.7);
}


